<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Booking </title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
     {{> Navbar}}
        <div class="container">
               {{#if flightId}}
               
                                   <form action="/api/v1/booking/new" method="post" id="bookingForm">
                                   <div class="container">
                                             <div class="row">
                                                  <h1 class="text-center">{{airline}} - {{flightNo}}</h1>
                                             </div>
                                             <div class="row">
                                                  <div class="col-md-12">
                                                       <h4 class="text-success">{{departureCity}}  <b> to  </b> {{arrivalCity}}</h4>
                                                       <h4 class="text-success">Starts at <b>{{departureDate}} </b>ends at <b>{{ arrivalDate}}</b></h4>
                                                       <h4 class="text-success">Available Seats : {{availableSeats}}</h4>
                                                  </div>
                                             </div>

                                   </div>
                                        <input type="hidden" name="flightId" disabled value="{{flightId}}" id="flightId">
                                        <div class="container">
                                             
                                             <br>
                                        {{#each seats}}
                                                       {{#ifDivisibleBy @index  15 }}
                                                            <br/>
                                                       {{/ifDivisibleBy}}
                                                       <div class="col-md-1">
                                                                 <label for="{{this}}"> {{this.seatNumber}}</label>
                                                                 <input type="checkbox" id="{{this.seatNumber}}"  name="seats[]" value="{{json this}}"  {{#if (not this.available)}}disabled{{/if}}/>                                        
                                                       </div>
                                        {{/each}}
                                        
                                        </div>
                                        
                                        <input type="submit" class="btn btn-success" value="Book">
                                   
                                   </form>

               {{else}}
                    
                      <form action="/api/v1/flights" method="get" class="row" id="flightForm" style="display: flex; align-items: center; justify-content: center; margin-bottom: 30px;">
                         <div>
                              <center><h3>Use those Filters to find the flights</h3></center><hr>
                         <input type="text" placeholder="Airline Name" name="keyword">
                         
                         <br><br>
                                   <label for="Departure">Departure Date and time</label>
                         <div style="display: flex;">
                                   <input type="date" placeholder="Departure Date" name="departureDate">
                                   <input type="time" placeholder="Departure Date" name="departureTime">
                         </div>
                         <br><br>
                                   <label for="Arrival">Arrival Date and time</label>
                         <div style="display: flex;">
                                   <input type="date" placeholder="Arrival Date" name="arrivalDate">
                                   <input type="time" placeholder="Arrival Date" name="arrivalTime">
                         </div>
                         <br><br>

                         <div style="display: flex;">
                              <input type="text" placeholder="Departure City" name="departureCity">
                              <input type="text" placeholder="Arrival City" name="destinationCity">
                         </div>
                         <br><br>
                         <input type="button" value="Search" onclick="searchMyFlights()"><br>
                         
                         </div>
                    </form>


                         <ol id="myflights">

                         </ol>



               {{/if}}
                                   
          </div>


   
<script>
        window.onload = async function() {
            const response = await fetch("/api/v1/flights", {
              method: "GET",
              headers: {
                'Accept': 'application/json'
              }
            });

            if (response.ok) {
              const data = await response.json();
               
               renderData(data.flights, data.admin)
            } else {
              console.log("Failed to fetch bookings data.");
            }
     }

          const bookingForm = document.getElementById('bookingForm');
          bookingForm.addEventListener("submit",async(e)=>{
               
               e.preventDefault();
               const bookingForm  = document.getElementById("bookingForm");

               const obj ={};
               obj["flightId"]=document.getElementById('flightId').value;
               let bookingDetails=[];
               let totalPrice =0;
               for(const book of bookingForm){
                    if(book.checked){
                         const t = JSON.parse(book.value);
                         totalPrice += t.price;
                         bookingDetails.push({requestedClass:t.class,requestedSeatNumber:t.seatNumber});
                    }
               }
               obj['bookingDetails'] = bookingDetails;

               if(totalPrice ==0 )  return alert("Select seats");
               if(confirm(`Book the Tickets ? Total Cost :${totalPrice}`)){
                              const result = await fetch('/api/v1/booking/new', {
                                   method: 'POST',
                                   headers: {
                                        'Content-Type': 'application/json'
                                   },
                                   body: JSON.stringify(obj)
                              })
                              
                              if ( !result.ok){
                                   alert("Those Ticket are already booked!\nKindly Refresh the page");
                              }
                                   window.location.reload();                                                                  
                              

               }


          });

       
          function searchMyFlights(){
               // get the flights
               const xhttp = new XMLHttpRequest();
               const flightForm = document.getElementById('flightForm');

               const form = new FormData(flightForm);

               xhttp.onload = function() {
                    const response = JSON.parse(this.responseText);
                         renderData(response.flights, response.admin)
               }
               xhttp.open("GET", "/api/v1/flights?"+new URLSearchParams(form),true);
               xhttp.setRequestHeader("Content-type", "application/json");
               xhttp.setRequestHeader("Accept", "application/json");
               xhttp.send(); 

          }






          function renderData (flights,admin=false){
               const myflights =document.getElementById('myflights');
               let res="";
               console.log(flights);
               if(!flights || flights===undefined || flights.length==0) {
                    res+="<h1 >No Flights found</h1>";                    
               }else{

                    flights.map((flight)=>{
                         res+=`                       
                         <li class="list-group-item">
                              <h3 class="airline">Airline Name :${flight.airline}</h3>
                              <p class="flight-number">Flight Number: ${flight.flightNumber}</p>
                              <p class="departure">Departure: ${flight.departureCity}</p>
                              <p class="destination">Destination: ${flight.destinationCity}</p>
                              <p class="time">Departure Time: ${new Date(flight.departureDate).toDateString()} 
                                   ${new Date(flight.departureDate).toLocaleTimeString(undefined, {  hour: 'numeric',  minute: 'numeric',  hour12: true})}
                              </p>
                              <p class="time">Arrival Time:${new Date(flight.arrivalDate).toDateString() }  
                                   ${new Date(flight.arrivalDate).toLocaleTimeString(undefined, {  hour: 'numeric',  minute: 'numeric',  hour12: true})}
                              </p>
                              <p class="time">Available Seats: ${flight.availableSeats}</p>
                              <a href="/Booking?flightId=${flight._id}" class="btn btn-primary">Booking</a>
                              ${admin ? `<button class="btn btn-danger" onclick="removeFlightRequest('${flight._id}')">Remove Flight</button>` : ''}
                              </li>
                         `
               })
               }
               myflights.innerHTML= res ;

                 
               
          }

          async function removeFlightRequest(id){
               if (confirm(`Do you want to remove this flight ${id}`)){
                         const result  = await fetch(`/api/v1/admin/flights/${id}`,{
                              method:'DELETE',
                         }
                              )
                         if ( !result.ok){
                                   alert("The Error Occured ..\nKindly Refresh the page and try again");
                         }
                         window.location.reload();
               }
          }
    
            


</script>

              <!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
     
</body>
</html>