<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Search Flights</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    
</head>
<body >
   {{> Navbar}}
   <fieldset class="container">
       
        <form action="/" method="get" class="row">
            <div>
               <center><h3>Use those Filters to find the flights</h3></center><hr>
            <input type="text" placeholder="Airline Name" name="keyword"><br><br>
            <input type="date" placeholder="Departure Date" name="departureDate"><br><br>
            <input type="date" placeholder="Arrival Date" name="arrivalDate"><br><br>
            <input type="text" placeholder="Departure City" name="arrivalCity"><br><br>
            <input type="text" placeholder="Arrival City" name="departureCity"><br><br>
            <input type="button" value="Search" onclick="searchMyFlights()"><br>
            
            </div>
        </form>
         

         {{#if done}}
              <div class="row">
               <ul class="list-group">
               {{#if flights }}
                         <h2>Flights</h2>
                    {{#each flights}}
                    <li class="list-group-item">
                         <h3 class="airline">Airline Name :{{airline}}</h3>
                         <p class="flight-number">Flight Number: {{flightNumber}}</p>
                         <p class="departure">Departure: {{departureCity}}</p>
                         <p class="destination">Destination: {{destinationCity}}</p>
                         <p class="time">Departure Time: {{departureTime}}</p>
                         <p class="time">Arrival Time: {{arrivalTime}}</p>
                         <p class="time">Available Seats: {{availableSeats}}</p>
                         <a href="/Booking?flightId={{_id}}" class="btn btn-primary">Booking</a>  
                           {{#if ../admin}}
                              <button class="btn btn-danger" onclick="removeFlightRequest(`{{_id}}`)">Remove Flight</button>
                         {{/if}}
                    </li>
                    {{/each}}
               
               {{else}}
                    <h1>No Flights</h1>
               {{/if}}
          </ul>
          </div>
          {{/if}}
    </fieldset>
        
    

    <script >
           function searchMyFlights(){
               // get the flights
               const xhttp = new XMLHttpRequest();
               const flightForm = document.getElementById('flightForm');

               const form = new FormData(flightForm);

               xhttp.onload = function() {
                         renderData(JSON.parse(this.responseText).flights)
               }
               xhttp.open("GET", "/api/v1/flights?"+new URLSearchParams(form),true);
               xhttp.setRequestHeader("Content-type", "application/json");
               xhttp.setRequestHeader("Accept", "application/json");
               xhttp.send(); 
                                      
          }
          
          async function removeFlightRequest(id){
               console.log(id);
               const result  = await fetch(`/api/v1/admin/flights/${id}`,{
                    method:'DELETE',
               }
                    )
               if ( !result.ok){
                         alert("The Error Occured ..\nKindly Refresh the page and try again");
               }
               window.location.reload();
          }
    
    </script>

 

    <!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</body>
</html>