<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/SearchFlight.css">
    <title>Search Flights</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    
</head>
<body >
   {{> Navbar}}
   <fieldset class="container">
       
        <form action="/api/v1/flights" method="get" class="row">
            <div>
            <input type="text" placeholder="Airline Name" name="keyword"><br><br>
            <input type="date" placeholder="Departure Date" name="departureDate"><br><br>
            <input type="date" placeholder="Arrival Date" name="arrivalDate"><br><br>
            <input type="text" placeholder="Departure City" name="arrivalCity"><br><br>
            <input type="text" placeholder="Arrival City" name="departureCity"><br><br>
            <input type="submit" value="Search"><br>
            
            </div>
        </form>  

         {{#if done}}
              <div class="row">
               <ul class="list-group">
               {{#if flights }}
                         <h2>Flights</h2>
                    {{#each flights}}
                    <li class="list-group-item">
                         <h3 class="airline">Airline Name :{{airline}}</h3>
                         <p class="flight-number">Flight Number: {{flightNumber}}</p>
                         <p class="departure">Departure: {{departureCity}}</p>
                         <p class="destination">Destination: {{destinationCity}}</p>
                         <p class="time">Departure Time: {{departureTime}}</p>
                         <p class="time">Arrival Time: {{arrivalTime}}</p>
                         <p class="time">Available Seats: {{availableSeats}}</p>

                         <div class="container">
                                   <form action="/api/v1/booking/new" method="post" id="bookingForm">
                                        <div class="container">
                                             
                                             <input type="hidden" name="flightId" disabled value="{{_id}}" id="flightId">
                                             <br>
                                        {{#each seats}}
                                                       {{#ifDivisibleBy @index  15 }}
                                                            <br/>
                                                       {{/ifDivisibleBy}}
                                                       <div class="col-md-1">
                                                                 <label for="{{this}}"> {{this.seatNumber}}</label>
                                                                 <input type="checkbox" id="{{this.seatNumber}}"  name="seats[]" value="{{this}}"  {{#if (not this.available)}}disabled{{/if}}/>                                        
                                                       </div>
                                        {{/each}}
                                        
                                        </div>
                                        
                                   
                                        <input type="submit" class="btn btn-success" value="Book">
                                   
                                   </form>
                              </div>
                    </li>
                    {{/each}}
               
               {{else}}
                    <h1>No Flights</h1>
               {{/if}}
          </ul>
          </div>
          {{/if}}
        
    </fieldset>
    

    
<script>
     const bookingForm  = document.getElementById("bookingForm");
     bookingForm.addEventListener('submit', function(e){
       e.preventDefault(); // Prevent the form from submitting
          
        // Get all selected seat checkboxes
        var selectedSeats = document.querySelectorAll("input[type='checkbox'][name='seats[]']:checked");
          
               
        var bookingDetails = [];

        
        selectedSeats.forEach(function(checkbox) {
            var seatNumber = checkbox.value.seatNumber;
            var seatClass = checkbox.value.class;

            {{!-- // Create the booking details object
            var bookingDetail = {
                requestedClass: seatClass,
                requestedSeatNumber: seatNumber
            };

            // Add the booking detail to the array
            bookingDetails.push(bookingDetail); --}}
            
        });


        {{!-- // Create the booking data object
        var bookingData = {
            flightId: document.getElementById('flightId').value;
            bookingDetails: bookingDetails
        }; // Convert the booking data object to JSON string
        var jsonData = JSON.stringify(bookingData);

        // Create a hidden field for the JSON data
        var jsonDataField = document.createElement("input");
        jsonDataField.type = "hidden";
        jsonDataField.name = "jsonData";
        jsonDataField.value = jsonData;

        // Append the hidden field to the form
        bookingForm.appendChild(jsonDataField);

     console.log(bookingForm);
        // Submit the form
        bookingForm.submit(); --}}

       alert(bookingData)
   
     });

    </script>
    <!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</body>
</html>